<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black; font-weight:bold;">
    <a class="navbar-brand" href="/">SLIDE-A-PITCH</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right ">
            <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/categories/gaming">Gaming</a></li>
            <li><a href="/categories/health">Health</a></li>
            <li><a href="/categories/success">Success</a></li>
            <li><a href="/categories/life">Life</a></li>
        </ul>

        <ul class="nav navbar-nav navbar">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.profile',uname=current_user.author)}}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
            </li>
            {% else %}
            <li class="nav-item">

                <a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a>


            </li>
            {%endif%}
        </ul>
    </div>
</nav>